<html>
<head>
<title>Simple Movie Recommender</title>
<link rel="stylesheet" href="static/fhnw.min.css">
</head>
<body>

<center>
<h1>Simple Movie Recommender</h1>

Based on the <a target="_blank" href="https://www.kaggle.com/datasets/shubhammehta21/movie-lens-small-latest-dataset">small Movie
Lens
dataset</a> with movies until 2018 and cosine similarity.

<br><br>

<form action="/" method="post">
<input type="text" name="q" width="10" type="text" autofocus>
<input type="submit" name="search" value="find movies">
</form>

{{search_results|safe}}

<br>

{{recommender_results|safe}}

<br><br>
Created by C&eacute;dric Huwyler. The code is available on <a target="_blank" href="https://github.com/chuwyler/simplemovierecommender">Github</a>.
</center>
<br><br>

</body>
</html>
